@page "/"
@implements IDisposable

<div class="text-center mb-5">
    <h1 class="first-headline">Shorten Your Links,</h1>
    <h1 class="second-headline">Amplify Your Reach</h1>
    <div class="detail-headline">
        Create powerful short links with detailed analytics, QR codes, and enterprise-grade reliability.
    </div>
</div>
<div class="shorten-section">
    @if(viewMode == ViewMode.MainView)
    {
        <div class="shorten-input-container">
            @if(Vs.AuthInfo != null)
            {
                <div class="extra-feat-title text-start">URL to Shorten</div>
            }

            <input type="text" class="shorten-input @(!string.IsNullOrEmpty(errorMsg["orgUrl"]) ? "error" : "")" placeholder="https://example.com/your-long-url" @bind="@shortUrlParam.OriginalUrl" @bind:event="oninput" />

            @if (!string.IsNullOrWhiteSpace(errorMsg["orgUrl"]))
            {
                <div class="error-text text-center blink mt-4"><URLShortener_Client.Icons.InfoIcon Width="25" Height="25" /> @errorMsg</div>
            }

        </div>
        @if (Vs.AuthInfo != null) //If only user is registered
        {
            <div class="extra-feature-container row">
                <div class="col-12 col-sm-6 p-0 pe-sm-1">
                    <div class="extra-feature">
                        <div class="extra-feat-title"><URLShortener_Client.Icons.TagIcon Width="25" Height="25" /> Alias (Optional)</div>
                        <input type="text" class="shorten-input @(!string.IsNullOrEmpty(errorMsg["alias"]) ? "error" : "")" placeholder="Add alias here" @bind="@shortUrlParam.CustomAlias" @bind:event="oninput" />
                    </div>
                </div>
                <div class="col-12 col-sm-6 p-0 ps-sm-1">
                    <div class="extra-feature">
                        <div class="extra-feat-title"><URLShortener_Client.Icons.ClockIcon Width="25" Height="25"  /> Expired In (Optional)</div>
                        <select @bind="@expireDuration" class="shorten-input @(!string.IsNullOrEmpty(errorMsg["alias"]) ? "error" : "")">
                            <option value="@ExpireDuration.Never">Never</option>
                            <option value="@ExpireDuration.OneDay">1 Day</option>
                            <option value="@ExpireDuration.SevenDays">7 Days</option>
                            <option value="@ExpireDuration.SevenDays">1 Month</option>
                        </select>
                    </div>
                </div>
                @if (!string.IsNullOrWhiteSpace(errorMsg["orgUrl"]))
                {
                    <div class="error-text mt-1">@errorMsg["orgUrl"]</div>
                }
                @if (!string.IsNullOrWhiteSpace(errorMsg["alias"]))
                {
                    <div class="error-text mt-1">@errorMsg["alias"]</div>
                }
            </div>
           
        }
        <div class="btn-shorten-container">
            <button type="button" class="btn-none btn-shorten @(string.IsNullOrWhiteSpace(shortUrlParam.OriginalUrl) ? "disabled" : "")" disabled="@(string.IsNullOrWhiteSpace(shortUrlParam.OriginalUrl))" @onclick="CreateShortUrl">
                Shorten URL
            </button>
        </div>

    }
    else
    {
        @if (resultUrl != null)
        {
            <div class="completed-container">
                <div class="shorten-success-icon"><URLShortener_Client.Icons.CheckIcon Width="40" Height="40" /></div>
                <div class="success-container">
                    <div class="success-title">Success!</div>
                    <div class="success-text">Your shortened URL is ready to use.</div>
                </div>
                <div class="success-url-container">
                    <div class="success-url-title">Original URL</div>
                    <div class="success-url">@resultUrl.OriginalUrl</div>
                </div>
                <div class="success-url-container">
                    <div class="success-url-title">Shortened URL</div>
                    <div class="d-flex justify-content-between">
                        <div class="success-url blue-color">@(appSettings.API_BaseURL + resultUrl.ShortCode)</div>
                        <button type="button" class="btn-none btn-copy-url" @onclick='() => { JS.InvokeVoidAsync("AppJS.copyToClipboard", appSettings.API_BaseURL + resultUrl.ShortCode); }'><URLShortener_Client.Icons.CopyIcon Width="20" Height="20" />Copy</button>
                    </div>

                </div>
                <URLShortener_Client.Pages.ShortURL.QRCodeView ShortCode="@resultUrl.ShortCode"></URLShortener_Client.Pages.ShortURL.QRCodeView>
                <div class="text-center mt-2">
                    <button type="button" class="btn-none btn-shorten-another" @onclick="SwitchMainView">Shorten Another URL </button>
                </div>
            </div>

        }

    }

    
    <div class="features-container">
        <div class="feature-name">
            <div class="feature-highlight">
                Fast
            </div>
            <div class="feature-desc">
                Instant URL shortening
            </div>
        </div>
        <div class="feature-name">
            <div class="feature-highlight">
                Free
            </div>
            <div class="feature-desc">
                No credit card required
            </div>
        </div>
        <div class="feature-name">
            <div class="feature-highlight">
                QR Code
            </div>
            <div class="feature-desc">
                Generated automatically
            </div>
        </div>
    </div>

</div>
<div class="why-main-title">Why choose UrLink?</div>
<div class="why-choose-container">
    
    <div class="why-choose-card">
        <div class="why-choose-icon lightning-color">
            <URLShortener_Client.Icons.LightningIcon />
        </div>
        <div class="why-choose-title">
            Lightning Fast
        </div>
        <div class="why-choose-desc">
            Create shortened URLs instantly with our platform. No delays, no hassle.
        </div>
    </div>
    <div class="why-choose-card">
        <div class="why-choose-icon graph-color">
            <URLShortener_Client.Icons.GraphIcon />
        </div>
        <div class="why-choose-title">
            Detailed Analytics
        </div>
        <div class="why-choose-desc">
            Track every click with comprehensive analytics. Know your audience better.
        </div>
    </div>
    <div class="why-choose-card">
        <div class="why-choose-icon  qr-color">
            <URLShortener_Client.Icons.QRIcon />
        </div>
        <div class="why-choose-title">
            QR Codes
        </div>
        <div class="why-choose-desc">
            Automatically generate QR codes for all your links. Perfect for print and digital.
        </div>
    </div>
    <div class="why-choose-card">
        <div class="why-choose-icon secure-color">
            <URLShortener_Client.Icons.ShieldIcon />
        </div>
        <div class="why-choose-title">
            Secure & Reliable
        </div>
        <div class="why-choose-desc">
            Enterprise-grade security with 99.9% uptime guarantee. Your links are safe with us.
        </div>
    </div>
</div>
@if (Vs.AuthInfo == null)
{
    <div class="ready-container">
        <div class="ready-main-title">Ready to Get Started?</div>
        <div class="ready-main-desc">
            Sign up now to unlock analytics, custom links, and advanced features.
        </div>
        <div class="create-acc-container">
            <button type="button" class="btn-none create-acc-btn" @onclick="OpenSignUp">Create Free Account</button>
        </div>
    </div>
}

<div class="footer-section">
    © 2025 Kaung Htet Hein.
</div>
<MessageModal @ref="messageModal"></MessageModal>
@code{
    private Dto_CreateShortUrl shortUrlParam = new();
    private Dto_ShortUrl? resultUrl;
    private Dictionary<string, string> errorMsg = new Dictionary<string, string>()
    {
        {"orgUrl",string.Empty },
        {"alias",string.Empty }
    };
    private MessageModal messageModal = new();
    private enum ViewMode
    {
        MainView,
        SuccessView,
    }
    private enum ExpireDuration
    {
        Never = 0,
        OneDay = 1,
        SevenDays = 7,
        OneMonth = 30
    }
    private ViewMode viewMode = ViewMode.MainView;
    private ExpireDuration expireDuration = ExpireDuration.Never;

    protected override void OnInitialized()
    {
        Notifier.OnEvent += OnReceiveEmit;
    }
    private void OnReceiveEmit(string key, object? data, string? actionName)
    {
        if (key == "RefreshAuthInfo")
        {
            StateHasChanged();
        }
    }
    private async Task CreateShortUrl()
    {
        try
        {
            ValidateOriginalUrl();
            if (string.IsNullOrWhiteSpace(shortUrlParam.CustomAlias))
            {
                shortUrlParam.CustomAlias = null;
                errorMsg["alias"] = string.Empty;
            }
            else
            {
                ValidateAlias();
            }

            if (!string.IsNullOrWhiteSpace(errorMsg["orgUrl"]) || !string.IsNullOrWhiteSpace(errorMsg["alias"])) return;

            Vs.IsLoading = true;
            if(Vs.AuthInfo != null)
            {
                shortUrlParam.UserId = Vs.AuthInfo.UserId;
            }
            SetExpireTime();
            var result = await ApiClient.PostAsync<DataResult<Dto_ShortUrl>>("api/shorturl/create", shortUrlParam);
            if (result != null && result.Success)
            {
                resultUrl = result.Data;
                viewMode = ViewMode.SuccessView;
                StateHasChanged();
            }
            else
            {
                Vs.IsLoading = false;
                await messageModal.ShowMessage(MessageType.Info, string.Empty, result?.Message??"Something went wrong.");
            }
            Vs.IsLoading = false;

        }
        catch(Exception ex)
        {
            Vs.IsLoading = false;
            await messageModal.ShowMessage(MessageType.Error, "Critical Message", ex.Message);
        }

    }
    private void ValidateOriginalUrl()
    {
        if (!Uri.TryCreate(shortUrlParam.OriginalUrl, UriKind.Absolute, out _))
        {
            errorMsg["orgUrl"] = "Invalid URL format";
        }
        else if (shortUrlParam.OriginalUrl.Length > 2048)
        {
            errorMsg["orgUrl"] = "URL is too long";
        }
        else
        {
            errorMsg["orgUrl"] = string.Empty;
        }

    }
    private void ValidateAlias()
    {
        if (shortUrlParam.CustomAlias != null)
        {
            if (!ComFn.IsSafeSlug(shortUrlParam.CustomAlias))
            {
                errorMsg["alias"] = "Alias contain invalid characters";
            }
            else if (shortUrlParam.CustomAlias.Length > 50)
            {
                errorMsg["alias"] = "Alias cannot exceed 50 characters";
            }
            else
            {
                errorMsg["alias"] = string.Empty;
            }

        }
        else
        {
            errorMsg["alias"] = string.Empty;
        }
    }
    private void SwitchMainView()
    {
        viewMode = ViewMode.MainView;
        shortUrlParam = new();
        resultUrl = null;
        expireDuration = ExpireDuration.Never;
        StateHasChanged();
    }
    private void SetExpireTime()
    {
        if (!Enum.IsDefined(typeof(ExpireDuration), expireDuration))
        {
            expireDuration = ExpireDuration.Never;
        }

        if(expireDuration != ExpireDuration.Never)
        {
            shortUrlParam.ExpiresAt = DateTime.UtcNow.AddDays((int)expireDuration);
        }
        else
        {
            shortUrlParam.ExpiresAt = null;
        }
    }
    private void OpenSignUp()
    {
        Notifier.Emit("OpenSignUp");
        StateHasChanged();
    }
    public void Dispose()
    {
        Notifier.OnEvent -= OnReceiveEmit;
    }

}