@using System.Text.RegularExpressions
<div class="d-flex justify-content-end">
    <button type="button" class="btn-none font-color" @onclick='() => { OnModalClose.InvokeAsync(); }'><URLShortener_Client.Icons.CrossIcon Width="20" Height="20" /></button>
</div>
<h1 class="mb-1 fw-bold">Welcome Back</h1>
<div class="font-color fs-20px">Sign in to access your analytics</div>

<div class="login-input-form">
    <div class="input-container">
        <div class="form-input-title">Email Address</div>
        <div>
            <input @bind="loginParam.Email" @bind:event="oninput" class="text-input @(!string.IsNullOrWhiteSpace(errorMsg["email"]) ? "error" : "")" type="text" placeholder="you@example.com" @onkeydown="@(e => HandleKeyDown(e))" @onchange="ValidateEmail" />
        </div>
        @if (!string.IsNullOrWhiteSpace(errorMsg["email"]))
        {
            <div class="error-text mt-1">@errorMsg["email"]</div>
        }
    </div>
    <div class="input-container">
        <div class="form-input-title">Password</div>
        <div>
            <input @bind="loginParam.Password" @bind:event="oninput" class="text-input @(!string.IsNullOrWhiteSpace(errorMsg["password"]) ? "error" : "")" type="password" placeholder="Enter your password" @onkeydown="@(e => HandleKeyDown(e))" @onchange="ValidatePassword" />
            @if (!string.IsNullOrWhiteSpace(errorMsg["password"]))
            {
                <div class="error-text mt-1">@errorMsg["password"]</div>
            }
        </div>
    </div>
    <div class="signin-btn-container">
        <button type="button" class="btn-primary-signin" @onclick="LogIn">Sign In</button>
    </div>
    <div class="sign-in-footer">
        Don't have an account? <button class="btn-none btn-signup-link" @onclick="NotifyForSignUp">Sign Up</button>
    </div>
</div>
<MessageModal @ref="messageModal"></MessageModal>
@code {
    [Parameter]
    public EventCallback OnModalClose { get; set; }

    private Dto_LoginUser loginParam = new();
    private MessageModal messageModal = new();
    private Dictionary<string, string> errorMsg = new Dictionary<string, string>()
    {
        {"email",string.Empty },
        {"password", string.Empty }
    };

    private async Task LogIn()
    {
        try
        {
            ValidateEmail();
            ValidatePassword();
            if (!string.IsNullOrWhiteSpace(errorMsg["email"]) || !string.IsNullOrWhiteSpace(errorMsg["password"])) return;

            Vs.IsLoading = true;
            var result = await ApiClient.PostAsync<DataResult<Dto_AuthResponse>>("api/user/login", loginParam);
            if (result != null && result.Success && result.Data != null)
            {
                // Convert Dto_AuthResponse to AuthInfo
                var authInfo = new AuthInfo
                {
                    AccessToken = result.Data.AccessToken,
                    RefreshToken = result.Data.RefreshToken,
                    AccessTokenExpiresAt = result.Data.AccessTokenExpiresAt,
                    UserName = result.Data.UserName,
                    Email = result.Data.Email,
                    UserId = result.Data.UserId
                };

                // Save globally
                await ComFn.SaveAuthInfoAsync(authInfo);
                Notifier.Emit("RefreshAuthInfo");
                Vs.IsLoading = false;
                await OnModalClose.InvokeAsync();

            }
            else
            {
                Vs.IsLoading = false;
                await messageModal.ShowMessage(MessageType.Info, string.Empty, result?.Message??"Something went wrong.");
            }
        }
        catch (Exception ex)
        {
            Vs.IsLoading = false;
            await messageModal.ShowMessage(MessageType.Error, "Critical Message", ex.Message);
        }
    }
    private void ValidateEmail()
    {
        if (string.IsNullOrWhiteSpace(loginParam.Email))
        {
            errorMsg["email"] = "Email cannot be empty.";
        }
        else if(loginParam.Email.Length > 150)
        {
            errorMsg["email"] = "Email cannot exceed 150 characters.";
        }
        else if (!ComFn.IsEmailValidFormat(loginParam.Email))
        {
            errorMsg["email"] = "Email format is incorrect.";
        }
        else
        {
            errorMsg["email"] = string.Empty;
        }
    }
    private void ValidatePassword()
    {
        if (string.IsNullOrWhiteSpace(loginParam.Password))
        {
            errorMsg["password"] = "Password cannot be empty.";
        }
        else if(loginParam.Password.Length > 300)
        {
            errorMsg["password"] = "Password cannot exceed 300 characters.";
        }
        else
        {
            errorMsg["password"] = string.Empty;
        }
    }
    private void NotifyForSignUp()
    {
        Notifier.Emit("OpenSignUp");
        OnModalClose.InvokeAsync();
    }
    private async void HandleKeyDown(KeyboardEventArgs e)
    {
        if (e.Code == "Enter" || e.Key == "Enter")
        {
            await LogIn();
        }
    }
}
